
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V11</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100" style="background-image: url('images/bg-01.jpg');">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Egy System
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">1- Required System?</span><br/>
					<input  type="radio" name="system" value="rfid">   RFID
					<input  type="radio" name="system" value="barcode">   Barcode
				</div>
				<br/>
				<div class="wrap-input100">
					<span class="label-input100">2- Dimensions of warehouse?</span><br/>
					<table>
					<tr>
					<td><input class="input100" type="number" min="1" name="dimentions" placeholder="Width" style="width:150px"></td>
					<td><input class="input100" type="number" min="1" name="dimentions" placeholder="Height" style="width:150px"></td>
					<td><input class="input100" type="number" min="1" name="dimentions" placeholder="Length" style="width:150px"></td>
					</tr>
					</table>
				</div>

				<div class="wrap-input100">
					<span class="label-input100">3- Number of racks? </span>
					<input class="input100" type="number" min="1" name="racks" style="width:150px">
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">4- Rack materials? </span><br/>
					<input  type="radio" name="rack" value="rfid">   Plastic
					<input  type="radio" name="rack" value="barcode">   Metal
				</div>

				<div class="wrap-input100" data-validate="Name is required">
					<span class="label-input100">5- Internet availability? </span><br/>
					<input  type="radio" name="internet" value="rfid">   Yes
					<input  type="radio" name="internet" value="barcode">   No
				</div>

				<div class="wrap-input100" data-validate="Name is required">
					<span class="label-input100">6- Availability of computers?  </span><br/>
					<input  type="radio" name="internet" value="rfid">   Yes
					<input  type="radio" name="internet" value="barcode">   No
				</div>

				<div class="wrap-input100">
					<span class="label-input100">7- Number of devices, computer?  </span>
					<input class="input100" type="number" min="1" name="devices" style="width:150px">
				</div>
				<div class="wrap-input100">
					<span class="label-input100">8- Current system type ? </span>
					<input class="input100" type="Text" name="system_type" style="width:150px">
				</div>

				<div class="wrap-input100">
					<span class="label-input100">9- Number of employees in warehouse?  </span>
					<input class="input100" type="number" min="1" name="employees" style="width:150px">
				</div>

				<div class="wrap-input100">
					<span class="label-input100">10- Number of forklift in warehouse? </span>
					<input class="input100" type="number" min="1" name="forklift" style="width:150px">
				</div>

				<div class="wrap-input100">
					<span class="label-input100">11- Number of trolleys in warehouse></span>
					<input class="input100" type="number" min="1" name="trolleys" style="width:150px">
				</div>

				<div class="wrap-input100">
					<span class="label-input100">12- Product type? </span>
					<input class="input100" type="text" name="racks" style="width:150px">
				</div>

				<div class="wrap-input100">
					<span class="label-input100">13- Estemated number of products get in warehouse?</span>
					<input class="input100" type="number" min="1" name="No_products_in" style="width:150px">
				</div>
				<div class="wrap-input100">
					<span class="label-input100">14- Estemated number of products get out from warehouse? </span>
					<input class="input100" type="number" min="1" name="No_products_out" style="width:150px">
				</div>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">15- Products come on?   </span><br/>
					<input  type="radio" name="internet" value="carton">   Carton
					<input  type="radio" name="internet" value="pallets">   Pallets
				</div>

				<div class="wrap-input100">
					<span class="label-input100">16- Number of gates in warehouse ?</span>
					<input class="input100" type="number" min="1" name="gates" style="width:150px">
				</div>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">17- The working flow ...  </span><br/>
					<input  type="radio" name="internet" value="ishape">   i-Shape
					<input  type="radio" name="internet" value="ushape">   u-Shape
				</div>


				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							Submit
						</button>
					</div>
				</div>
			</form>
		</div>


	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
