<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="container-contact100" style="background-image: url('images/bg2.jpg');">

		<div class="wrap-contact100">
			<form action="/totalcost" method="post" class="contact100-form validate-form">
				<span class="contact100-form-title">
					<IMG SRC="images/logo.png" ALT="some text" WIDTH=170 HEIGHT=130>
				</span>
				<span class="contact100-form-title">
					Report
				</span>
	<table class="table table-bordered">
	  <tbody>
			<tr>
	      <th scope="row">Company Name</th>
				<td>{{results['company_name']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Industry Type</th>
				<td>{{results['industry_type']}}</td>
	    </tr>
	    <tr>
	      <th scope="row">space</th>
	      <td><input type="hidden" name="space" value="{{results['space']}}">{{results['space']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Handling Equipmentes</th>
				<td>{{results['trucks']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Forklift readers</th>
				<td>{{results['trucks_readers']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Forklift Readers Cost</th>
				<td>{{results['trucks_readers_cost']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Handheld devices</th>
	      <td>{{results['handhelds']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Handhelds Cost</th>
	      <td>{{results['handheld_cost']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Workers</th>
					<td>{{results['workers']}}</td>
	    </tr>
			<tr>
				{% if results['receive'] == "cartons" %}
				<th scope="row">Cartons</th>
				<td>{{results['cartons']}}</td>
				{%endif%}
				{% if results['receive'] == "pallets" %}
				<th scope="row">Pallets</th>
				<td>{{results['pallets']}}></td>
				{%endif%}
	    </tr>
			<tr>
	      <th scope="row">Gate Readers</th>
				<td>{{results['gate_readers']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Gate Readers Cost</th>
				<td>{{results['gate_readers_cost']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Printers</th>
	      <td>{{results['printers']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Printers Cost</th>
	      <td>{{results['printers_cost']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Warehouse System Cost</th>
	      <td>{{results['wh_sys']}}</td>
	    </tr>
			<tr>
	      <th scope="row">Total Cost</th>
	      <td>{{results['total_cost']}} USD</td>
	    </tr>
	  </tbody>
	</table>


</form>
<hr>
<div class="form-group">
      <label class="control-label col-sm-2" for="full_name">Full Name:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{results['contact_name']}}</p>
      </div>
    </div>
		<div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{results['contact_email']}}</p>
      </div>
    </div>
		<div class="form-group">
      <label class="control-label col-sm-2" for="email">Telephone:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{results['contact_phone']}}</p>
      </div>
    </div>
		<div class="form-group">
      <label class="control-label" for="sign">Customer Signature:</label>
			<hr>
      <div class="col-sm-10">
        <p class="form-control-static">{{results['tel']}}</p>
      </div>
    </div>
<form action="/" method="get" class="contact100-form validate-form">
	<div class="container-contact100-form-btn">
		<input class="contact100-form-btn" type="button" value="Back" onclick="history.back()">
			<span>
				<i class="fa m-l-7" aria-hidden="true"></i>
			</span>
	</div>
</form>

</div>
</div>
</body>
</html>
